{% extends 'base.html' %}

{% load invoice_tag %}
{% load i18n %}
{% block title %} Invoices {% endblock title %}

{% block content %}

{% if messages %}
  {% include 'messages.html' %}
{% endif %}

{% if invoice %}
<div class="container mt-5">
    <div class="col-md-12 my-5">
      <table class="table">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>{% trans 'Datetime' %}</th>
              <th>{% trans 'Transaction' %}</th>
              <th>{% trans 'Customer' %}</th>
              <th>{% trans 'Total item' %}</th>
              <th>{% trans 'Total amount' %}</th>
              <th>{% trans 'Delete' %}</th>
            </tr>
          </thead>
          {% for item in invoice %}
          <div>
            <tbody>
              <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.date_updated }}</td>
                <td>{{ item.transaction }}</td>
                <td>{{ item.customer }}</td>
                <td>{% InvoiceFunction item invoiceitems %}</td>
                <td>{{ item.total }}</td>
                <td><button type="button" class="btn btn-danger"><a href="{% url 'delete' item.id %}" style="text-decoration: none; color:black;">{% trans 'Delete' %}</a></button></td>
              </tr>
            </tbody>
          </div>
          {% endfor %}
        </table>
    </div>
</div>
{% include 'paginations.html' with page=invoice %}
{% else %}
<div class="container mt-5">
        <div class="col-md-12">
            <h1 style="text-align: center;">{% trans 'Invoices are Empty' %}</h1>
        </div>
</div>
{% endif %}
{% endblock content %}