{% extends 'base.html' %}
{% load i18n %}
{% block title %} Delete Category {% endblock title %}

{% block content %} 

    <div class="container" style="padding-top: 50px; text-align:center;">
        <div class="col-md-12">
            <h2 style="color:black;">{% trans 'Confirmation' %}</h2>
        <br>
        <h3 style="margin-bottom: 30px;">{% trans 'Are you sure delete that category' %}</h3>
        <button style="margin-right: 30px;" type="button" class="btn btn-danger"><a href="{% url 'delete_confirm_categories' pk %}" style="text-decoration: none; color:black ;">{% trans 'Continue' %}</a></button> <button type="button" class="btn btn-light" style="background-color: rgba(126, 126, 126, 0.574); "><a style="text-decoration: none; color: black;" href="{% url 'categories_list' %}">{% trans 'Close' %}</a></button>
        </div>
    </div>

    


{% endblock content %}
