* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
}

/***********
** HEADER **
***********/
.header {
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  box-shadow: rgba(67, 67, 90, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.header .container {
  position: sticky;
  width: 1140px;
  max-width: 1140px;
  height: auto;
  margin: 0 auto;
}
.header .container .header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: unset;
  padding: 20px 0;
}
.header .container .header__row .right .menu {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: row;
  flex-wrap: unset;
}
.header .container .header__row .right .menu .menu__item .link-to-page {
  margin-right: 20px;
  color: rgb(126, 119, 119);
}
.header .container .header__row .right .menu .active .link-to-page {
  color: #000;
}
.header .container .header__row .left {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: row;
  flex-wrap: unset;
}
.header .container .header__row .left .user-profile .link-to-auth {
  margin-right: 10px;
  color: rgb(126, 119, 119);
}
.header .container .header__row .left .authentication .link-to-auth {
  margin-right: 10px;
  color: rgb(126, 119, 119);
}

/************
** SECTION **
************/
.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  flex-wrap: unset;
  margin: 0 auto;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.section .container {
  position: absolute;
  top: -30px;
  border: 1px solid transparent;
  box-shadow: rgba(67, 67, 90, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 1140px;
  max-width: 1140px;
  height: auto;
  margin: 180px auto;
}
.section .container .section__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: unset;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  padding: 25px;
  border-bottom: 1px solid rgba(194, 194, 194, 0.602);
}
.section .container .section__header .title {
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-direction: column;
  flex-wrap: unset;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
}
.section .container .section__header .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: unset;
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(52, 123, 255);
  border: none;
  cursor: pointer;
}
.section .container .section__header .button .plus-icon {
  width: 15px;
  height: 15px;
  padding-right: 2px;
  fill: #FFF;
}
.section .container .section__header .button .add_stock-btn {
  border: none;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
}
.section .container .section__header .button .add_stock-btn a {
  color: #FFF;
}
.section .container .section__header .button:hover {
  background-color: rgb(29, 91, 206);
  opacity: 0.8;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all 0.5s ease;
}
.section .container .product__detail {
  width: 95%;
  margin: 0 auto;
  padding: 25px;
  border-bottom: 1px solid rgba(194, 194, 194, 0.602);
}
.section .container .product__detail .detail__title {
  padding: 20px 0;
}
.section .container .product__detail .wrapper {
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-direction: column;
  flex-wrap: unset;
}
.section .container .product__detail .wrapper > div {
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-direction: column;
  flex-wrap: unset;
  margin-bottom: 10px;
}
.section .container .product__detail .wrapper > div > span {
  padding-bottom: 5px;
  color: #000;
}
.section .container .product__detail .wrapper > div > span:last-child {
  padding-left: 20px;
  color: #424242;
}
.section .container .history {
  width: 95%;
  padding: 25px;
  margin: 0 auto;
}
.section .container .history .title {
  padding: 15px 0;
}
.section .container .history .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: unset;
  padding-bottom: 15px;
}
.section .container .history .navbar .pagination__cnt .pagination__select-btn .pagination-cnt {
  background: transparent;
  border: 1px solid #b9b0b0;
  border-radius: 4px;
  padding: 2px 5px;
  cursor: pointer;
}
.section .container .history .search__form .search__input {
  border: 1px solid rgba(194, 194, 194, 0.602);
  padding: 2px;
  outline: none;
}
.section .container .history .search__form .label {
  padding-right: 5px;
}
.section .container .history .table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: unset;
  width: 100%;
  margin: 10px auto;
  height: auto;
  border-collapse: collapse;
  border: 1px solid rgba(194, 194, 194, 0.602);
}
.section .container .history .table .table__heading {
  width: 100%;
  height: 20%;
  background-color: rgb(52, 123, 255);
  color: #FFF;
}
.section .container .history .table .table__heading .table__row {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: unset;
  flex-wrap: unset;
  width: 100%;
  height: auto;
}
.section .container .history .table .table__heading .table__row .table__row-heading {
  width: 100%;
  height: auto;
  padding: 5px 0;
  border: 1px solid rgba(194, 194, 194, 0.602);
}
.section .container .history .table .table__heading .table__row .table__row-heading:first-child {
  width: 20%;
}
.section .container .history .table .table__heading .table__row .table__row-heading:last-child {
  width: 45%;
}
.section .container .history .table .table__body {
  width: 100%;
  height: 20%;
}
.section .container .history .table .table__body .table__row {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: unset;
  flex-wrap: unset;
  width: 100%;
  height: auto;
}
.section .container .history .table .table__body .table__row .table__data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  flex-wrap: unset;
  width: 100%;
  height: auto;
  padding: 15px 0;
  border: 1px solid rgba(194, 194, 194, 0.602);
}
.section .container .history .table .table__body .table__row .table__data:first-child {
  width: 20%;
}
.section .container .history .table .table__body .table__row .table__data:last-child {
  width: 45%;
}
.section .container .history .table .table__body .table__row .table__data:last-child .wrapper {
  width: auto;
  height: 20px;
}
.section .container .history .table .table__body .table__row .table__data:last-child .wrapper img {
  width: 100%;
  height: 100%;
}
.section .container .history .table .table__body .table__row .left {
  display: flex;
  align-items: unset;
  justify-content: left;
  flex-direction: row;
  flex-wrap: unset;
}
.section .container .history .table .table__body .table__row .left .wrapper-left {
  display: flex;
  align-items: unset;
  justify-content: left;
  flex-direction: row;
  flex-wrap: unset;
  padding-left: 10px;
}
.section .container .history .table .table__body .table__row .type {
  padding: 4px;
  border-radius: 7px;
  border: none;
  color: #FFF;
  background-color: rgb(255, 55, 55);
}
.section .container .history .table .table__body .table__row .stock-in {
  background-color: rgb(52, 123, 255) !important;
}
.section .container .history .table .table__body .table__row .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: unset;
}
.section .container .history .table .table__body .table__row .wrapper .right {
  padding: 5px;
  margin-left: 5px;
  border: 1px solid red;
  cursor: pointer;
}
.section .container .history .table .table__body .table__row .wrapper .right:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all 0.5s ease;
}
.section .container .history .table .table__body .table__row .wrapper .left {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid rgb(52, 123, 255);
  cursor: pointer;
}
.section .container .history .table .table__body .table__row .wrapper .left:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all 0.5s ease;
}
.section .container .history .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: unset;
  padding: 15px 0;
}
.section .container .history .footer .pagination__result .text {
  color: #424242;
  size: 14px;
}
.section .container .history .footer .pagination-btn > a {
  margin-right: 5px;
}
.section .container .history .footer .pagination-btn > a:last-child {
  margin-right: 0;
}
.section .container .history .footer .pagination-btn .prev-btn {
  color: #424242;
}
.section .container .history .footer .pagination-btn .page-number {
  padding: 5px 5px 5px 8px;
  text-align: center;
  color: #FFF;
  background-color: rgb(52, 123, 255);
}
.section .container .history .footer .pagination-btn .page-number:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all 0.5s ease;
}
.section .container .history .footer .pagination-btn .next-btn {
  color: #424242;
}

/*****************
** DELETE MODAL **
*****************/
.delete__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: unset;
  flex-wrap: unset;
  position: absolute;
  top: -100%;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.delete__modal .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: unset;
  border: 1px solid transparent;
  box-shadow: rgba(67, 67, 90, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 600px;
  max-width: 1140px;
  height: 150px;
  margin: -700px auto 0 auto;
  color: #FFF;
  background: linear-gradient(rgba(52, 123, 255, 0.8), rgba(255, 52, 52, 0.8));
}
.delete__modal .content .title {
  padding: 30px;
}
.delete__modal .content .buttons {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: row;
  flex-wrap: unset;
  float: right;
  padding-right: 10px;
}
.delete__modal .content .buttons > div {
  padding: 5px;
}
.delete__modal .content .buttons .cancel .cancel-btn {
  border: none;
  padding: 5px;
  background-color: rgba(52, 123, 255, 0.8);
  cursor: pointer;
}
.delete__modal .content .buttons .cancel .link-cancel-delete-to-stock {
  color: #FFF;
}
.delete__modal .content .buttons .delete .delete-btn {
  border: none;
  padding: 5px;
  background-color: rgba(255, 52, 52, 0.8);
  cursor: pointer;
}
.delete__modal .content .buttons .delete .delete-btn .link-to-delete-stock {
  color: #FFF;
}/*# sourceMappingURL=inventory_action.css.map */