@import '../_helpers/mixins';
@import '../_helpers/variables';
@import '../_helpers/normalize';


/***********
** HEADER **
***********/
.header {
    padding: 10px 0;
    border-bottom: 1px solid transparent;
    box-shadow: rgba(67, 67, 90, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    .container {
        position: sticky;
        width: 1140px;
        max-width: 1140px;
        height: auto;
        margin: 0 auto;

        .header__row {
            @include d-flex(center, space-between, row, unset);

            padding: 20px 0;

            .right {

                .menu {
                    @include d-flex(center, unset, row, unset);

                    .menu__item {

                        .link-to-page {
                            margin-right: 20px;
                            color: rgb(126, 119, 119);
                        }
                    }

                    .active {

                        .link-to-page {
                            color: #000;
                        }
                    }
                }
            }

            .left {
                @include d-flex(center, unset, row, unset);

                .user-profile {

                    .link-to-auth {
                        margin-right: 10px;
                        color: rgb(126, 119, 119);
                    }
                }

                .authentication {

                    .link-to-auth {
                        margin-right: 10px;
                        color: rgb(126, 119, 119);
                    }
                }
            }
        }
    }
}


/************
** SECTION **
************/
.section {
    @include d-flex(center, center, unset, unset);

    margin: 0 auto;
    top: 0;
    left: 0;
    transition: all 0.5s ease;

    .container {
        position: absolute;
        top: 0;
        border: 1px solid transparent;
        box-shadow: rgba(67, 67, 90, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        width: 1140px;
        max-width: 1140px;
        height: auto;
        margin: 180px auto;

        .section__header {
            @include d-flex(center, space-between, row, unset);

            width: 100%;
            top: 0;
            left: 0;
            height: 70px;
            padding: 25px;
            border-bottom: 1px solid rgba(194, 194, 194, 0.602);

            .title {
                @include d-flex(unset, center, column, unset);

                height: 100%;
                font-family: 'Times New Roman', Times, serif;
                font-size: 22px;
            }

            .button {
                @include d-flex(center, center, row, unset);

                border: 1px solid black;
                padding: 5px;
                background-color: rgb(52, 123, 255);
                border: none;
                cursor: pointer;

                .plus-icon {
                    width: 15px;
                    height: 15px;
                    padding-right: 2px;
                    fill: #FFF;
                }

                .add_stock-btn {
                    border: none;
                    background: transparent;
                    color: #FFF;
                    text-transform: uppercase;
                    cursor: pointer;
                }

                &:hover {
                    background-color: rgb(29, 91, 206);
                    opacity: 0.8;
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
                    transition: all 0.5s ease;
                }
            }
        }

        .form {
            
            form {
                padding: 20px;

                & > div {
                    padding: 20px;
                }

                .add_btn {
                
                    float: left;
                    left: 150px;
                    
                    .btn {
                        padding: 4px 20px;
                        cursor: pointer;
                        background-color: rgb(52, 123, 255);
                        color: #FFF;
                        border: none;
                    }
                }
            }
        }
    }
}
